@import url('@/assets/css/background.css');

/* COLOR MODE */
:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  /* --bg: #f3f5f4; */
  --bg: #ffffff;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: var(--bg); */
  color: var(--color);
  transition: background-color .3s;
}
a {
  color: var(--color-primary)
}


/* GLOBAL */
.container {
  @apply lg:px-40;
  @apply sm:mx-auto;
  @apply overflow-hidden;
  /* @apply relative; */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
h1 {
  @apply text-5xl;
  @apply pb-6;
}
h2 {
  @apply text-4xl;
  @apply pb-6;
}
h3 {
  @apply text-3xl;
  @apply pb-4;
}
h4 {
  @apply text-2xl;
  @apply pb-4;
}
h5 {
  @apply text-xl;
  @apply pb-3;
}
h6 {
  @apply text-lg;
  @apply pb-2;
}
p {
  @apply pb-4;
}

/* NAVBAR */

.navbar {
  @apply px-6;
  /* @apply bg-gradient-to-r; */
  @apply border-b;
  @apply border-gray-200;
  @apply dark:border-gray-700;
  @apply fixed;
  @apply w-full;
  @apply top-0;
  @apply z-30;
}

.navbar-content {
  @apply w-full;
  @apply flex;
  @apply items-center;
  @apply justify-between;
}
.navbar-content .center{
  /* @apply lg:w-2/4; */
  @apply w-full;
  @apply flex-initial;
  @apply hidden;
  @apply lg:block;
}

.navbar-content .menu {
  @apply flex-initial;
  @apply ml-12;
  @apply hidden;
  @apply md:block;
}
.navbar-content .brand {
  @apply flex-initial;
  @apply mr-14;
  @apply pr-16;
  @apply py-6;
}
.navbar .menu ul {
  @apply flex;
}

.navbar .menu ul li {
  @apply mx-2;
}

.navbar .menu ul li a {
  @apply block;
  @apply px-3; 
  @apply py-2;
}

.menu-mobil {
  @apply fixed;
  @apply md:max-w-xs;
  @apply p-3;
  @apply left-0;
  @apply right-0;
  @apply top-20;
  @apply -mt-2;
  @apply bottom-0;
  @apply z-30;
  @apply lg:top-24;
  @apply hidden;
}
.menu-mobil.active {
  @apply block !important;
}

/* CONTENT */
.content {
  @apply mt-24;
  @apply mb-12;
}
/* FOOTER */

.footer {
  /* @apply bg-gradient-to-r; */
  /* @apply from-gray-800; */
  /* @apply via-gray-900; */
  /* @apply to-black; */
  @apply pt-20;
  /* @apply pb-12; */
  @apply border-b;
  @apply text-white;
  @apply px-3;
}
.footer-content {
  @apply text-center;
  @apply md:text-left;
}
.footer-body {
  @apply flex;
  @apply flex-wrap;
  @apply justify-between;
  @apply w-full;
}
.footer-menu {
  @apply w-full;
  @apply md:w-1/2;
  @apply lg:w-1/3; 
}

.footer-menu ul {
  @apply my-6;
}

/* SOCIAL */
.social {
  @apply mb-6;
  @apply pb-6;
  /* @apply flex; */
  @apply border-b;
  @apply border-gray-600;
}

.social ul {
  /* @apply mx-auto; */
  @apply flex;
  @apply flex-wrap;
  @apply justify-center;
}

.social ul li a{
  @apply block;
  @apply px-3;
  @apply py-2;
  @apply m-1;
}
.social ul li a{
  @apply hover:text-white;
}

/* PREV NEXT LINK */

.prev-next {
  @apply text-center;
  @apply my-12;
  @apply border;
  @apply flex;
  @apply -mx-14;
  @apply md:mx-0;
}
.prev-next .prev a, .prev-next .next a{
  @apply px-3;
  @apply py-2;
  
  @apply hover:opacity-80;
  @apply block;
}
.prev-next .prev, .prev-next .next {
  @apply w-1/2;
}

.prev-next .prev {
  @apply hover:opacity-80;
  @apply border-r;
}
.prev-next .next {

}

/* SEARCH  */
.search { 
  @apply my-2;
  @apply mx-3;
}
.search input {
  @apply px-3;
  @apply py-2;
  @apply shadow-inner;
  @apply w-full;
  @apply bg-gray-100;
  @apply rounded;
  @apply focus:ring-2;
  @apply focus:ring-gray-300;
  @apply focus:outline-none;
}

/* BLOG */

.blog {
  @apply flex;
}

.blog .bode-blog {
  @apply w-full;
  @apply lg:w-2/4;
}

.blog .sidebar-blog {
  @apply w-full;
  @apply w-1/4;
}

.blog .body-blog {
  @apply p-3;
}

/* MARKDOWN */
.nuxt-content-highlight {
  @apply -mx-16;
  @apply px-16;
  @apply py-12;
  @apply bg-gradient-to-r;
  @apply from-blue-600;
  @apply via-indigo-700;
  @apply to-purple-700;
  @apply sm:-mx-6;
  @apply sm:px-6;
  @apply rounded-lg;
  @apply md:mx-0;
  @apply md:px-0;
  @apply md:py-0;
}

pre[class*="language-"] {
  @apply rounded-lg !important;
}


/* SECTIONS */
.section {
  @apply py-24;
  @apply shadow-inner;
  @apply my-6;
  @apply bg-gray-100;
  @apply px-3;
  @apply md:px-12;
  @apply lg:px-24;
  @apply xl:px-40;
}
.section .title {
  @apply text-gray-700;
  @apply uppercase;
  @apply text-center;
  @apply pb-6;
  @apply mb-6;
}

.section .blog {
  @apply flex-wrap;
  @apply justify-center;
}

.section-blog {
  @apply w-full;
  @apply md:w-1/2;
  @apply lg:w-1/3;
}

.card {
  @apply p-3;
  @apply m-3;
  @apply rounded-lg;
  @apply shadow;
}

.profile-card {
  @apply p-6;
  @apply w-full;
  @apply shadow;
  @apply rounded;
  @apply mb-12;
}
/* PROFILE */

.profile {
  @apply -mt-6;
  @apply mb-24;
  @apply relative;
  @apply shadow-inner;
}

.profile-background {
  @apply absolute;
  @apply h-64;
  @apply w-full;
  @apply left-0;
  @apply right-0;
}

.profile-content {
  @apply py-24;
  @apply flex;
  @apply flex-wrap;
  @apply relative;
  @apply z-10;
  @apply px-3;
  @apply md:px-24;
  @apply lg:px-40;
}
.profile-panel {
  @apply w-full;
  @apply md:w-8/12;
  @apply order-2;
  @apply lg:order-1;
}
.profile-sidebar {
  @apply w-full;
  @apply md:w-4/12;
  @apply order-1;
  @apply lg:order-2;
}

